.head {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    will-change: transform, background-color;
    backdrop-filter: blur(5px);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.head div nav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.head div nav ul li{
    padding:  30px 35px;
    height: 46px;
    width: 95px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;

}

.head div nav ul li a{
    text-decoration: none;
    color: white;
}

.head div nav ul li a:hover{
    color: #FFD700;
}   

.logo{
    width: 46px;
    height: 46px;
}

.logon {
    position: relative;
    will-change: transform;
    transition: all 0.3s ease;
}
