.work-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.work-section img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.work-section img:hover {
    transform: translateY(-40px) scale(1.2);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}